.env
.DS_store
*.swp
*.csv
*.pkl
*.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Datasets
mobile-phone-activity
geolife-gps-trajectory-dataset

settings.json
